.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    /* border: 2px solid blue; */
    overflow: hidden;
    text-align: center;
    padding: 10px;
    width: 300px;

}

a, a:visited {
    color: inherit;

}

.detalle{
    text-shadow: 0 0 5px rgb(172, 20, 96);
}