.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
    /* border: 2px solid red */
}

.title {
    color: rgb(172, 119, 20);
    font-size: 40px;
    
}

.categories {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid yellow */
}

.linkMenu {
    color: #ac7714;
    padding: 14px;
    box-shadow: 0 0 12px rgb(172, 119, 20);
    border: 4px solid rgb(172, 119, 20);
    background-color: black;
    margin: 9px;
    font-size: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.linkMenu:hover {
    color: black;
    box-shadow: 0 0 12px #ac7714;
    background-color: #ac7714a6;
}
