.btnMenu{
    color: #ac7714;
    padding: 10px;
    box-shadow: 0 0 12px rgb(172, 119, 20);
    border: 4px solid rgb(172, 119, 20);
    background-color: black;
    margin: 10px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.btnMenu:hover {
    color: black;
    box-shadow: 0 0 12px #ac7714;
    background-color: #ac7714a6;
}

